In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline

import random
import urllib.request
import requests
from bs4 import BeautifulSoup
import warnings
warnings.filterwarnings('ignore')

In [8]:
merging = pd.read_csv('https://raw.githubusercontent.com/fifa-19-player-stats/data/master/data_sets/FIFA_clean.csv')
merging.head()

,Unnamed: 0,id,name,age,photo,nationality,flag,overall,potential,club,...,gkpositioning,gkreflexes,releaseClause,currency,valueAmt,valueUnit,wageAmt,wageUnit,releaseClauseAmt,releaseClauseUnit
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,14.0,8.0,€226.5M,€,110.5,M,565.0,K,226.5,M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,14.0,11.0,€127.1M,€,77.0,M,405.0,K,127.1,M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,15.0,11.0,€228.1M,€,118.5,M,290.0,K,228.1,M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,88.0,94.0,€138.6M,€,72.0,M,260.0,K,138.6,M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,10.0,13.0,€196.4M,€,102.0,M,355.0,K,196.4,M

In [15]:
merging.columns

Index(['Unnamed: 0', 'id', 'name', 'age', 'photo', 'nationality', 'flag',
       'overall', 'potential', 'club', 'clubLogo', 'value', 'wage', 'special',
       'preferredFoot', 'internationalReputation', 'weakFoot', 'skillMoves',
       'workRate', 'bodyType', 'realFace', 'position', 'jerseyNumber',
       'joined', 'loanedFrom', 'contractValidUntil', 'height', 'weight', 'ls',
       'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm',
       'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb',
       'lcb', 'cb', 'rcb', 'rb', 'crossing', 'finishing', 'headingaccuracy',
       'shortpassing', 'volleys', 'dribbling', 'curve', 'fkaccuracy',
       'longpassing', 'ballcontrol', 'acceleration', 'sprintspeed', 'agility',
       'reactions', 'balance', 'shotpower', 'jumping', 'stamina', 'strength',
       'longshots', 'aggression', 'interceptions', 'positioning', 'vision',
       'penalties', 'composure', 'marking', 'standingtackle', 'slidingtackle',
       'gkdiving', 'gkhandling', 'gkkicking', 'gkpositioning', 'gkreflexes',
       'releaseClause', 'currency', 'valueAmt', 'valueUnit', 'wageAmt',
       'wageUnit', 'releaseClauseAmt', 'releaseClauseUnit'],
      dtype='object')

In [16]:
col = ['name', 'id', 'position']
names_id = merging.copy()
names_id = names_id[col]
names_id.head()

                name      id position
0           L. Messi  158023       RF
1  Cristiano Ronaldo   20801       ST
2          Neymar Jr  190871       LW
3             De Gea  193080       GK
4       K. De Bruyne  192985      RCM

In [13]:
best_center_attacking_midfielder = pd.read_csv('https://raw.githubusercontent.com/fifa-19-player-stats/data/master/data_sets/Best_Center_Attacking_Midfielder.csv')
best_center_attacking_midfielder.head()

       id  Score  Rank
0  178518  81.68     1
1  181872  79.92     2
2  194765  76.14     3
3  181291  75.91     4
4  201942  75.72     5